<ion-header>
    <ion-toolbar>
        <ion-item>
            <ion-back-button text="back" icon="" class="positive"></ion-back-button>
            <ion-title>{{title}}</ion-title>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="light">
        <ion-card-header>
            <ion-card-subtitle>{{selectedGame.name}}</ion-card-subtitle>
            <ion-card-title></ion-card-title>
        </ion-card-header>

        <ion-img [src]="selectedGame.url"></ion-img>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>
</ion-content>